body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}
h1, h2, h4 {
  margin: 10px;
}
.newsBody {
  margin-top: 4px;
  padding: 5px;
  /* background-color: grey */
  width: 70vw;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
  background-color: antiquewhite;
}
.text {
  display: flex;
  flex-direction: column;
}
.textAndImage {
  display: flex;
}
.categoriesNavBar {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: fixed;
  margin-top: 100px;
  width: 250px;
}

li {
  list-style: none;
  margin: 20px;
}
.search {
  position: fixed;
}
.categoryButtons {
  height: 30px;
  /* margin-top: 5px; */
  width:60%;
  transition: 0.1s;
}
.categoryButtons:hover {
 margin-left: 20px;
 height: 30px;
 
}

